body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

#dataContainer {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005f73;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Striped table rows */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #fff;
}

/* Add hover effect for table rows */
tr:hover {
  background-color: #f1f1f1;
}
